In [26]:
import pandas as pd

# 데이터 읽어오기
df = pd.read_excel('data/F000801_20250519145719399_excel.xlsx',skiprows=2)
df

c:\python3\Lib\site-packages\openpyxl\styles\stylesheet.py:237: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

,Unnamed: 0,Unnamed: 1,2015,2016,2017,2018,2019,2020,2021,2022,2023,2024
0,전체,NaN,"438,420","406,243","357,771","326,822","302,676","272,337","260,562","249,186","230,028","230,028"
1,모 연령별,15세 미만,16,15,6,8,10,11,8,10,6,6
2,NaN,15 - 19세,"2,211","1,907","1,520","1,292","1,096",907,492,412,393,393
3,NaN,20 - 24세,"20,514","19,078","15,768","13,313","11,303","9,612","7,599","5,979","5,249","5,249"
4,NaN,25 - 29세,"94,622","85,036","74,026","65,029","57,834","50,631","45,781","39,710","34,837","34,837"
5,NaN,30 - 34세,"216,252","192,968","161,045","143,067","131,334","118,909","115,290","114,173","106,049","106,049"
6,NaN,35 - 39세,"92,081","94,313","92,645","91,101","87,300","78,315","76,238","72,710","67,467","67,467"
7,NaN,40 - 44세,"12,138","12,336","12,202","12,417","13,242","13,482","14,670","15,736","15,578","15,578"
8,NaN,45 - 49세,335,371,373,389,398,340,362,362,377,377
9,NaN,50세 이상,14,11,9,18,18,4,9,6,8,8
10,NaN,연령 미상,237,208,177,188,141,126,113,88,64,64
11,출처:,"통계청,「인구동향조사」",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,주석:,-,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN