In [34]:
import pandas as pd
data = {
   '이름':['홍길동','유관순','이순신','강감찬','김구','김유신','홍길자','홍길순'],
   '학교':['가산고','가산고','가산고','가산고','가산고','디지털고','디지털고','디지털고'],
   '키':[197,184,168,187,188,202,188,190],
   '국어':[90,40,80,40,15,80,55,100],
   '영어':[85,35,75,60,20,100,65,85],
   '수학':[100,50,70,70,10,95,45,90],
   '과학':[95,55,80,75,35,85,40,95],
   '사회':[85,25,75,80,10,80,35,95],
   'SW특기':['Python','Java','Javascript','','','C','PYTHON','C#']
}
df=pd.DataFrame(data,index=['1번','2번','3번','4번','5번','6번','7번','8번'])
df.index.name='지원번호'

# index 삭제 drop미반영 inplace반영
df.reset_index(drop=True,inplace=True)
df

    이름    학교    키   국어   영어   수학  과학  사회        SW특기
0  홍길동   가산고  197   90   85  100  95  85      Python
1  유관순   가산고  184   40   35   50  55  25        Java
2  이순신   가산고  168   80   75   70  80  75  Javascript
3  강감찬   가산고  187   40   60   70  75  80
4   김구   가산고  188   15   20   10  35  10
5  김유신  디지털고  202   80  100   95  85  80           C
6  홍길자  디지털고  188   55   65   45  40  35      PYTHON
7  홍길순  디지털고  190  100   85   90  95  95          C#

In [35]:
df.set_index('이름',inplace=True)
df
df.reset_index(inplace=True)
df

    이름    학교    키   국어   영어   수학  과학  사회        SW특기
0  홍길동   가산고  197   90   85  100  95  85      Python
1  유관순   가산고  184   40   35   50  55  25        Java
2  이순신   가산고  168   80   75   70  80  75  Javascript
3  강감찬   가산고  187   40   60   70  75  80
4   김구   가산고  188   15   20   10  35  10
5  김유신  디지털고  202   80  100   95  85  80           C
6  홍길자  디지털고  188   55   65   45  40  35      PYTHON
7  홍길순  디지털고  190  100   85   90  95  95          C#

In [36]:
df.index=['1번','2번','3번','4번','5번','6번','7번','8번']
df.index.name='지원번호'
df.sort_index(ascending=False,inplace=True) #index로 순차정렬
df.reset_index(inplace=True)
df.set_index('이름',inplace=True)
df.sort_index(ascending=False,inplace=True)
df

    지원번호    학교    키   국어   영어   수학  과학  사회        SW특기
이름
홍길자   7번  디지털고  188   55   65   45  40  35      PYTHON
홍길순   8번  디지털고  190  100   85   90  95  95          C#
홍길동   1번   가산고  197   90   85  100  95  85      Python
이순신   3번   가산고  168   80   75   70  80  75  Javascript
유관순   2번   가산고  184   40   35   50  55  25        Java
김유신   6번  디지털고  202   80  100   95  85  80           C
김구    5번   가산고  188   15   20   10  35  10
강감찬   4번   가산고  187   40   60   70  75  80