In [2]:
import pandas as pd
data = {
   '이름':['홍길동','유관순','이순신','강감찬','김구','김유신','홍길자','홍길순'],
   '학교':['가산고','가산고','가산고','가산고','가산고','디지털고','디지털고','디지털고'],
   '키':[197,184,168,187,188,202,188,190],
   '국어':[90,40,80,40,15,80,55,100],
   '영어':[85,35,75,60,20,100,65,85],
   '수학':[100,50,70,70,10,95,45,90],
   '과학':[95,55,80,75,35,85,40,95],
   '사회':[85,25,75,80,10,80,35,95],
   'SW특기':['Python','Java','Javascript','','','C','PYTHON','C#']
}
df=pd.DataFrame(data,index=['1번','2번','3번','4번','5번','6번','7번','8번'])
df.index.name='지원번호'

In [10]:
# df.to_csv('score.csv',encoding='utf-8-sig')
df.to_csv('data/score.txt',sep='\t', encoding='utf-8-sig') #sep구분자 변경 가능
df.to_excel('data/score.xlsx') #sep구분자 변경 가능

In [14]:
df=pd.read_csv('data/score.csv',index_col='지원번호')
df

       이름    학교    키   국어   영어   수학  과학  사회        SW특기
지원번호
1번    홍길동   가산고  197   90   85  100  95  85      Python
2번    유관순   가산고  184   40   35   50  55  25        Java
3번    이순신   가산고  168   80   75   70  80  75  Javascript
4번    강감찬   가산고  187   40   60   70  75  80         NaN
5번     김구   가산고  188   15   20   10  35  10         NaN
6번    김유신  디지털고  202   80  100   95  85  80           C
7번    홍길자  디지털고  188   55   65   45  40  35      PYTHON
8번    홍길순  디지털고  190  100   85   90  95  95          C#

In [ ]:
df=pd.read_csv('data/score.txt',sep='\t') 
df

  지원번호   이름    학교    키   국어   영어   수학  과학  사회        SW특기
0   1번  홍길동   가산고  197   90   85  100  95  85      Python
1   2번  유관순   가산고  184   40   35   50  55  25        Java
2   3번  이순신   가산고  168   80   75   70  80  75  Javascript
3   4번  강감찬   가산고  187   40   60   70  75  80         NaN
4   5번   김구   가산고  188   15   20   10  35  10         NaN
5   6번  김유신  디지털고  202   80  100   95  85  80           C
6   7번  홍길자  디지털고  188   55   65   45  40  35      PYTHON
7   8번  홍길순  디지털고  190  100   85   90  95  95          C#